<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DispatchSelect</servlet-name>
        <servlet-class>servlets.DispatchSelect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DispatchSelectUser</servlet-name>
        <servlet-class>servlets.DispatchSelectUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertarCuenta</servlet-name>
        <servlet-class>servlets.insertarCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verificarUsuario</servlet-name>
        <servlet-class>servlets.verificarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarUsuario</servlet-name>
        <servlet-class>servlets.modificarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarCuenta</servlet-name>
        <servlet-class>servlets.eliminarCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerOperaciones</servlet-name>
        <servlet-class>servlets.VerOperaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verOperacionesUsuario</servlet-name>
        <servlet-class>servlets.VerOperacionesUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatchSelect</servlet-name>
        <url-pattern>/DispatchSelect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DispatchSelectUser</servlet-name>
        <url-pattern>/DispatchSelectUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertarCuenta</servlet-name>
        <url-pattern>/insertarCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verificarUsuario</servlet-name>
        <url-pattern>/verificarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarUsuario</servlet-name>
        <url-pattern>/modificarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarCuenta</servlet-name>
        <url-pattern>/eliminarCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerOperaciones</servlet-name>
        <url-pattern>/VerOperaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verOperacionesUsuario</servlet-name>
        <url-pattern>/verOperacionesUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
